bakery
celery==5.2.7
Django==4.1.3
django-allauth
django-celery-results
django-environ
django-filter
django-rest-passwordreset
djangorestframework
drf-spectacular==0.24.2
drf-spectacular-sidecar==2022.11.1
gunicorn
psycopg2-binary
pytest-cov
pytest-django
python-dotenv
PyYAML
redis
requests
ujson