bakery==1.0.0
celery==5.2.7
coverage==6.5.0
Django
django-celery-results
django-environ
django-filter
django-rest-passwordreset
djangorestframework
docker
entrypoints
gunicorn
psycopg2-binary
pytest
pytest-cov
pytest-django
python-dotenv
PyYAML
redis
requests
SQLAlchemy
ujson